# EXCLUDE workspace.xml and tasks.xml
Backpackers/.idea/workspace.xml
Backpackers/.idea/tasks.xml

# EXCLUDE /out folder
Backpackers/out/*


Backpackers/Backpackers\.iml

Backpackers/\.idea/artifacts/Backpackers_war_exploded\.xml

Backpackers/\.idea/dataSources\.local\.xml

Backpackers/\.idea/dataSources/a4909662-ddbe-486b-9151-18199037e065\.xml

Backpackers/\.idea/dataSources/a4909662-ddbe-486b-9151-18199037e065/_metadata_/metadata\.keystream

Backpackers/\.idea/libraries/mysql_connector_java_5_1_44_bin\.xml

Backpackers/\.idea/dataSources/a4909662-ddbe-486b-9151-18199037e065/_src_/schema/backpackers\.zip
